
/* The calculator container */
div {
	margin: auto;
    background-color: lightblue; 
	height: 250px;
    width: 250px;
	padding: 10px;
}

/* Button having a number */
button {
	width : 23%;
	height: 20%;
	background-color : rgb(242, 242, 242);
}

/* Button having a sign */
.operand {
	background-color : rgb(217, 217, 217);
}

/* Equal button */
#equal {
	background-color : rgb(0, 200, 0);
}

/* Computer screen  */
#screen {
	width : 71%;
	height : 10%;
	text-align : center;
}